{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/editable/be.css' %}">
<style>
    .vdelete {
        color: #d9534f;
        border: none;
    }
</style>
{% endblock css %}

{% block ptitle %}
<div class="uk-width-1-2">
  <h1 class="uk-heading-bullet">{% trans "Form Options" %}</h1>
</div>
<div class="uk-width-1-2 uk-text-right">
    <a href="{% url 'all-forms' %}" class="uk-button uk-button-default btn-long"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;{% trans "Back" %}</a>
    <button href="{% url 'all-forms' %}" uk-toggle="target: #catmodal" type="button" class="uk-button uk-button-default btn-long"><i class="fa fa-plus"></i>&nbsp;&nbsp;{% trans "Opt Set" %}</button>
</div>

{% endblock ptitle %}

{% block content %}
<section class="uk-section">
    <div class="uk-container">
        {% include "messages.html" %}

        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-grid uk-flex" data-uk-grid>
                <div class="uk-width-1-6">
                    <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                        {% for k, v in odict.items %}
                        <li><a href="#">{{ v.value }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="uk-width-expand@m">
                    <ul id="component-tab-left" class="uk-switcher">
                        {% for k, v in odict.items %}
                        <li>
                            <div uk-grid>
                                <div class="uk-width-3-4">
                                    <div uk-grid>
                                    {% for x in v.opts %}
                                    <div class="uk-width-1-3">{{ x.value }}</div>    
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="uk-width-1-4">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="tab" value="{{ k }}">
                                        <input type="hidden" name="action" value="options">
                                        <input type="hidden" name="cat" value="{{ k }}">
                                        <textarea name="ovals" id="" cols="30" rows="10" class="uk-textarea" placeholder="Enter each option on a new line"></textarea>    
                                        <button class="uk-button uk-button-primary uk-margin-top btn-long">Add</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
                
            </div>
        </div>
    </div>
</section>

<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="tabbable tabs-left">
        <ul class="nav nav-pills portlet light" data-tabs="tabs">
            {% for c in categories %}
                <li {% if forloop.first %}class="active"{% endif %}>
                    <a href="#tab-{{ c.id }}" data-toggle="tab">{{ c.value }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for c in categories %}
                <div class="item tab-pane {% if forloop.first %}active{% endif %}" id="tab-{{ c.id }}">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#cat{{ c.id }}">{{ c.value }}
                                    </a>
                                </h4>
                            </div>
                            <div id="cat-{{ c.id }}" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="row margin-top-20">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <ul id="ul-{{ c.id }}" class="list-unstyled">
                                                    {% for v in c.val_items %}
                                                        <li class="col-md-6 li-{{ c.id }}-{{ v.id }}">
                                                            <label>{{ v.value }}</label>&nbsp;&nbsp;
                                                            <button class="vdelete" data-cat="{{ c.id }}" data-val="{{ v.id }}"><i class="fa fa-times"></i></button>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-20">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="val-{{ c.id }}" type="text" class="form-control new-val"
                                                       placeholder="Enter new option">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary vpoint"
                                                            data-cat="{{ c.id }}" disabled>
                                                        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="catmodal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">{% trans "New Options Set" %}</h3>
        </div>
        <div class="uk-modal-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div uk-grid>
                    <div class="uk-width-2-3@m">
                        <label for="">{% trans "Category Name" %}</label>
                        <input type="text" class="uk-input" name="name">
                    </div>
                    <div class="uk-width-expand@m">
                         <button class="uk-button uk-button-primary btn-long" style="margin-top:24px">{% trans "Add" %}</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/editable/be.min.js' %}"></script>
<script>
$(document).ready(function(){
    var show_ok = function (){
        $('.alert-success').removeClass('hide').delay(2000).queue(function(next){
            $('.alert-success').addClass('hide');
            next();
        });
    };

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });

	$('.t-edit').editable({
       send: 'always',
       url: '{% url "ajax-add-cat" %}',
       success: function(data){
           if (data['success']){
               location.reload();
           }
       }
    });

    $('.new-val').keyup(function(){
        $(this).parent().find('.vpoint').prop('disabled', this.value == "" ? true : false);
    });

    $('.vpoint').on('click', function(){
        var cat = $(this).data('cat');
        var value = $('#val-' + cat).val();

        $.ajax({
            url: "{% url 'ajax-update-val' %}",
            type: "POST",
            data: "&action=add" + "&id=" + cat + "&value=" + value,
            success: function (data) {
                show_ok();
                $("#ul-" + cat).append("<li class='col-md-6 li-" + cat + "-" + data.vid + "'><label>" + value + "</label>&nbsp;&nbsp;<button class='vdelete' data-cat='" + cat + "' data-val='" + data.vid + "'><i class='fa fa-times'></i></button>");
            }
        });
    });
});

// So dynamically added li can be deleted too
$(document).on('click', '.vdelete', function () {
    var cat = $(this).data('cat');
    var vid = $(this).data('val');

    $.ajax({
        url: "{% url 'ajax-update-val' %}",
        type: "POST",
        data: "&action=remove" + "&id=" + vid,
        success: function (data) {
            $('.li-' + cat + '-' + vid).remove();
            $('.alert-danger').removeClass('hide').delay(2000).queue(function (next) {
                $('.alert-danger').addClass('hide');
                next();
            });
        }
    });
});
</script>
{% endblock js %}
