
.navbar-default {
    background-color: #4091bb;
}

.tcolor {
    color: #4091bb;
}

.tnavbar .navbar-nav > li > a:hover, .tnavbar .navbar-nav > li > a:focus {
    background-color: #217895;
}

.tnavbar .navbar-nav > .open > a, .tnavbar .navbar-nav > .open > a:hover, .tnavbar .navbar-nav > .open > a:focus {
    background-color: #217895 !important;
}

.tnavbar .dropdown-menu li > a {
    background-color: #5d9ab9;
    color: white;
}

.tnavbar .navbar-nav > li > a.hover {
    background-color: #217895;
    color: white;
}